<h2>Available polls</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="search/" method="post">
    {% csrf_token %}
    
    <label for="search">Want to search questions? Enter search text</label><br><br>
    <input type="text" name="search" id="search"><br><br>
    
    <input type="submit" value="Send">
    </form> 
    <h2>Register here</h2>
    <label for="search">Want to use the app as registered user?</label><br><br>
    <form action="register/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="username"><br><br>
        <input type="text" name="password" id="password"><br><br>
      <button type="submit">Register</button>
    </form>