{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="search/" method="post">
    {% csrf_token %}
    
    <label for="search">Want to search questions? Enter search text</label><br><br>
    <input type="text" name="search" id="search"><br><br>
    
    <input type="submit" value="Send">
    </form> 